<template>
    <div class="container">
        <div class="jumbotron">
          <h2 class="display-4">To-Do List</h2>
          <form @submit.prevent="createBook" class="mb-3 was-validated" novalidate>
              <div class="form-group">
								<input type="text" class="form-control is-invalid" placeholder="Title" maxlength="50" v-model="book.title" required>
              </div>
              <div class="form-group">
								<input type="text" class="form-control" placeholder="Author" maxlength="50" v-model="book.author" required>
              </div>
              <div class="form-group">
								<textarea type="text" class="form-control" placeholder="Description" maxlength="200" v-model="book.desc"></textarea>
              </div>
              <button type="submit" class="btn btn-primary btn-block  offset-md-5 col-md-2">Save</button>
          </form>
          <alert v-if="alertMsg" @clicked="activate" v-bind:message="alertMsg" v-bind:class="classObject" />
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li v-bind:class="[{disabled: !pagination.prev_page_url}]" class="page-item"><a class="page-link" href="#"  
                @click.prevent="fetchBooks(pagination.prev_page_url)">Previous</a></li>

                <li class="page-item disabled"><a class="page-link text-dark" href="#">Page {{ pagination.current_page}} of {{ pagination.last_page }} </a></li>

                <li  v-bind:class="[{disabled: !pagination.next_page_url}]" class="page-item"><a class="page-link" href="#" 
                @click.prevent="fetchBooks(pagination.next_page_url)">Next</a></li>
            </ul>
        </nav>
        <div class="card card-body mb-2" v-for="book in books" v-bind:key="book.id" >
            <h4 class="card-title">{{ book.title }} <span class="badge badge-secondary">Author: {{book.author}}</span></h4>
						<h6 class="card-subtitle mb-2 text-muted">{{ book.created_at }}</h6>
            <p class="card-text">{{ book.desc }}</p>
            <hr>
            <div class="row">
              <button class="btn btn-warning col col-md-2" @click="displayModal(book, 'edit')" >Edit</button>
              <button class="btn btn-danger col offset-md-8 offset-sm-2 col-md-2" @click="displayModal(book, 'delete')" >Delete</button>
            </div>
        </div>
				 <modal v-if="modalDialog.isClose" 
				 :modalShow.sync="modalDialog.isClose" 
				 v-bind:mode="modalDialog.mode" 
				 v-bind:bookId="book_id"
				 @deleteItem="deleteBook"
				 @updateItem="updateBook"
				 />
    </div>
</template>

<script>
import axios from 'axios';
import alert from '../components/alert';
import modal from '../components/modal';
export default {
  data() {
      return {
          books:[],
          book:{
              id: '',
							title: '',
							author: '',
							desc: '',
							created_at:''
          },
          book_id : '',
          pagination: {},
					alertMsg: '',
					error: true,
					modalDialog: {
						mode: 'delete',
						isClose: false
					}
      }
  },

  created() {
      this.fetchBooks();
  },

  methods: {
      async fetchBooks(page_url){
          const config = {
            headers: {'Accept': 'application/json', 'Access-Control-Allow-Origin': '*'}
          }
          let vm = this;
          page_url = page_url || '/api/book'
          try{
            const res = await axios.get(page_url, config)
            this.books = res.data.data;
            vm.makePagination(res.data.meta, res.data.links)
          } catch (err){
            console.log(err);
          }
      },
      async createBook(){
				if(!this.book.title || !this.book.author ){
					this.alertMsg = 'Please fill in all required fields';
					this.error = true;
					this.activate(this.alertMsg); 
					return false;   
				}
					try{
						const res = await axios.post('/api/book', this.book)
						if(res.status == 201){
							this.book.title = '';
							this.book.author = '';
							this.book.desc = '';
							this.alertMsg = 'Created.';
							this.error = false;
							this.activate(this.alertMsg); 
							this.fetchBooks();
						}
					} catch(err){
						console.log(err);
					}
			},
			async deleteBook(id){
				try{
					const res = await axios.delete(`/api/book/${id}`)
					if(res.status = 201){
						this.modalDialog.isClose = false;
						this.fetchBooks();
					}
				}catch(err){
					console.log(err);
				}
			},
			async updateBook(modalBook){
				try{
					const res = await axios.put(`/api/book/${modalBook.id}`, modalBook);
					if(res.status = 201){
						this.modalDialog.isClose = false;
						this.fetchBooks();
					}
				}catch(err){
					console.log(err);
				}
			},
			activate(msg) {
				if(msg)
						setTimeout(() => this.alertMsg = '', 2000);
				else
						this.alertMsg = msg;
			},
			displayModal(book, mode){
				this.modalDialog.isClose = true
				this.modalDialog.mode = mode;
				this.book_id = book.id;
			},
			makePagination(meta, links){
          let pagination = {
              current_page: meta.current_page,
              last_page: meta.last_page,
              next_page_url: links.next,
              prev_page_url: links.prev
          };
          this.pagination = pagination;
      },
	},
	components: {
			alert,modal
	},
	computed: {
		classObject: function () {
			return {
				'alert alert-danger': this.error ,
				'alert alert-success': !this.error
			}
		}
	}
}
</script>
<style scoped>
.badge{
	font-size: 0.8rem;
}
</style>