<template>
	<transition name="slide-fade">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
			{{message}}
			<button type="button" @click="close" class="close" >
                <span aria-hidden="true">&times;</span>
			</button>
    </div>
	</transition>
</template>
<script>
export default {
  name: 'alert',
  props: ['message'],
  data() {
      return {

      }
	},
	methods: {
			close() {
					this.$emit('clicked', '');
			}
	}
}
</script>
<style scoped>
    .slide-fade-enter-active {
    transition: all .3s ease;
    }
    .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
    }
</style>
