<template>
    <div id="app">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Confirm</h5>
                  <button type="button" class="close" @click.prevent="closeModal">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p v-if="mode==='delete'">Are you sure?</p>
                  <form v-if="mode==='edit'" class="mb-3 was-validated" novalidate>
                    <div class="form-group">
                      <input type="text" class="form-control is-invalid" placeholder="Title" maxlength="50" v-model="bookModal.title" required>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Author" maxlength="50" v-model="bookModal.author" required>
                    </div>
                    <div class="form-group">
                      <textarea type="text" class="form-control" placeholder="Description" maxlength="200" v-model="bookModal.desc"></textarea>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" @click="closeModal">Close</button>
                  <button type="button" class="btn btn-primary" @click="mode === 'delete' ? deleteModal() : editModal()">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition>
  </div>
</template>
<script>
import axios from 'axios';
export default {
  name: 'modal',
  props: ['mode', 'modalShow', 'bookId'],
  data() {
      return {
        bookModal: {
          id: '',
          title: '',
          author: '',
          desc: ''
        }
      }
	},
	methods: {
		closeModal(){
      this.$emit('update:modalShow', false);
    },
    deleteModal(){
      this.$emit('deleteItem', this.bookId);
    },
    editModal(){
      if(!this.bookModal.title || !this.bookModal.author) return false;
      this.$emit('updateItem', this.bookModal);
    },
    async fetchBook(){
      try{
        const res = await axios.get(`/api/book/${this.bookId}`);
        if(res.status == 200){
          this.bookModal = res.data.data;
        }
      } catch (err){
        console.log(err);
      }
    }
  },
  mounted: function () {
    this.$nextTick(function () {
      if(this.mode === 'edit'){
        this.fetchBook();
      }
    });
  }
}

</script>
<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
</style>