<template>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-2">
    <nuxt-link class="navbar-brand" to="/">Laravel and nuxt</nuxt-link>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <nuxt-link class="nav-link" to="/">Home</nuxt-link>
        </li>
      </ul>
    </div>
  </nav>
</template>

<style scoped>

</style>